slack_token: ""
port: 8080
slack_webhook_url: ""
channel: "kudos"
database: "./kudo.db"
asset_path: "./asset"
calendar_id: "datadog.lt_u10u67cv66sv6svjg1u4nm1kr0@group.calendar.google.com"
calendar_secret: "./client_secret.json"
calendar_credentials: "./calendar.json"
templates_path: "./templates"
