{{ define "content" }}
<div class="row">
<div class="col-xs-7">
    <div id='calendar' class="calendar">
        <div class="pin pin-left"></div>
        <div class="pin pin-right"></div>
    </div>
</div>
<div class="col-xs-5">
<div class="calendar">
<div class="pin pin-left"></div>
    <div class="pin pin-right"></div>
    <h1>Happening today</h1>
    <ul>
      {{range .Events}}
        {{if .Today}}
          <li{{if .Happening}} class="active"{{end}}><span class="text-muted">{{.Date}}</span> {{.Event.Summary}}</li>
        {{end}}
      {{end}}
    </ul>

    <h1>Upcoming events</h1>
    <ul>
      {{range .Events}}
        {{if not .Today}}
          <li><span class="text-muted">{{.Date}}</span> {{.Event.Summary}}</li>
        {{end}}
      {{end}}
    </ul>
</div>
</div>
</div>
<script>
	$(document).ready(function() {
		function renderCalendar() {
			$('#calendar').fullCalendar({
				header: {
					left: '',
					center: 'title',
					right: ''
				},
				lang: 'en-gb',
				buttonIcons: false, // show the prev/next text
				weekNumbers: false,
				editable: false,
				eventLimit: true, // allow "more" link when too many events
				events: [
          {{range .Events}}
  					{
  						title: {{.Event.Summary}},
  						start: {{.Date}}
  					},
          {{end}}
					{
						title: 'Click for Google',
						url: 'http://google.com/',
						start: '2016-05-28'
					}
				]
			});
		}

		renderCalendar();
	});
</script>
<style>
    .calendar h2 {
        padding-top: 30px;
    }
    .calendar .fc-view {
        padding: 30px;
    }
    #calendar {
        margin-left: 30px;
        font-family: 'Droid Sans', sans-serif;
    }
    .fc-more {
        color: #FFF;
    }
    .fc-today {
        background: #2B6690 !important;
        border-color: rgb(221, 221, 221) !important;
    }
    .fc-title {
        text-transform: uppercase;
    }
    .fc-event {
        background-color: #666b6e !important;
        border-color: #666b6e !important;
    }
    .fc-content {
        white-space: normal !important;
        font-size: 14px;
    }
</style>
{{ end }}
