{{ define "content" }}
<div class="row">
<div class="col-xs-7">
<div class="notes">
{{range .Kudos}}
  <div class="note note-{{.Item.Color}}">
    <div class="pin"></div>
    {{if eq .Item.Value -1}}
      <div class="sad"></div>
    {{end}}
    <p>{{range .Item.Recipients}}@{{.Name}}, {{end}}<br>{{range .Text}}{{.}}<br>{{end}}</p>
    <span>@{{.Item.MemberFrom.Name}}</span>
  </div>
{{end}}
</div>
</div>
<div class="col-xs-5">
  <!-- Right side -->
</div>
</div>
{{ end }}
