{{ define "head" }}
<meta http-equiv="refresh" content="30;/">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{{ end }}
{{ define "content" }}
<div class="row" style="margin-top: 40px">
<div class="col-xs-6">
  <div class="content-box left-box">
    <div class="pin pin-left"></div>
    <div class="pin pin-right"></div>
    <h2>Medutis</h2>
    <div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
  </div>
</div>
<div class="col-xs-6">
  <div class="content-box">
    <div class="pin pin-left"></div>
    <div class="pin pin-right"></div>
    <h2>Deadlines</h2>
    <div class="stats-list">
    {{range .DeadlineStatistics }}
      <div class="stats-list-row">
          <div class="col-xs-2">
            {{ .Deadline }}
          </div>
          <div class="col-xs-4">
            {{ .Project }}
          </div>
          <div class="col-xs-6">
            {{ if .IsToday }}
              Today!
            {{ else }}
              Days left - {{ .Left }}
            {{ end }}
          </div>
          <div class="clearfix"></div>
      </div>
    {{end}}
    </div>
  </div>
</div>
</div>

<div>
  <marquee scrolldelay="30">
    <img src="/asset/myce.gif" />
  </marquee>
</div>

<script>
$(function () {
    $('#container').highcharts({
        title: {
            text: '',
        },
        xAxis: {
            categories: {{.BillableStatistics.Dates}},
            labels: {
              style: {
                color: '#FFFFFF'
              }
            }
        },
        yAxis: {
            title: {
                text: 'Hours',
                style: {
                  color: '#FFFFFF'
                }
            },
            labels: {
              style: {
                color: '#FFFFFF'
              }
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#FFFFFF'
            }]
        },
        exporting: { enabled: false },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0,
            itemStyle: {
              color: '#FFFFFF'
            }
        },
        chart: {
            backgroundColor: "#204F6C"
        },
        series: [{
            name: 'Ideal',
            data: {{.BillableStatistics.Ideal}},
            color: '#00cc00'
        }, {
            name: 'Expected',
            data: {{.BillableStatistics.Expected}},
            color: "#FFEF81"
        }, {
            name: 'Real',
            data: {{.BillableStatistics.Real}}
        }]
    });
});
</script>

{{ end }}
