body {
  background: #6A6879;
  overflow: hidden;
}

body.easter {
  background: #385400 url('https://free4kwallpapers.com/uploads/originals/2015/09/15/pet.jpg');
  background-size: cover;
  background-position: 450px 0px;
  background-repeat: no-repeat;
}


body.dd {
  background: #0073AE url('./background.png');
  background-size: cover;
  background-repeat: no-repeat;
}


body.win95 {
  background: #008080;
}

body.dd .content-box, body.easter .content-box, body.win95 .content-box {
  background: rgba(48, 65, 82, 0.67);
}

body.win95 .note
 {
  background-image: url('./clouds.jpg');
  background-size: cover;
}

body.dd .note
 {
  background-image: url('./sticker.png');
  background-size: cover;
}

body.dd .note.note-colored {
  background-image: url(c.png);
}

body.easter .note
 {
  background-image: url('./egg.png');
  background-size: cover;
}

.snowman {
  position: fixed;
  z-index: 4;
  height: 300px;
  bottom: -49px;
  right: -5px;
}

.note {
  background: url('c.png');
  background-color: #4B83EE;
  height: 300px;
  width: 300px;
  margin-left: 30px;
  margin-top: 20px;
  position: relative;
  border-radius: 1px;
  box-shadow: -3px 3px 3px rgba(0,0,0,0.3);
  font-family: 'Patrick Hand', cursive;
  padding: 10px;
  padding-top: 30px;
  float: left;
}

.notes .note { transform: rotate(-0.5deg); }
.notes .note:nth-child(2n) { transform: none; }
.notes .note:nth-child(3n) { transform: rotate(-1.5deg); }
.notes .note:nth-child(5n)  { transform: rotate(2.1deg); }

.note:nth-of-type(n+1) {
  transform: rotate(5deg);
}

.note {
  transform: rotate(-3deg);
}

.note-orange {
  background-color: #EB8258;
}

.note-red {
  background-color: #DC4744;
}

.note-green {
  background-color: #8AC48B;
}

.note-pink {
  background-color: #D757C5;
}

.note-purple {
  background-color: #995D81;
}

.note-yellow {
  background-color: #CEC967;
}

.note p {
  color: black;
  font-size: 2em;
  overflow: hidden;
  max-height: 240px;
  margin: 0;
}

.note span, .note a  {
  font-size: 1.5em;
  display: inline-block;
  width: 270px;
  text-align: right;
  position: absolute;
  color: #000;
}

.pin {
  background: url('pin.png');
  height: 47px;
  width: 50px;
  position: absolute;
  margin-left: -25px;
  left: 50%;
  top: -10px;
  background-size: contain;
}

.pin-left {
  left: 1%;
}

.pin-right {
  left: 97%;
}

.sad {
  background-image: url('sad.png');
  width: 250px;
  background-size: contain;
  height: 250px;
  position: absolute;
  bottom: -42px;
  opacity: 0.3;
}

.content-box {
  background: url('c.png');
  background-color: #304152;
  margin: 30px 30px 30px 0;
  position: relative;
  border-radius: 1px;
  box-shadow: -3px 3px 3px rgba(0,0,0,0.3);
  font-family: 'Arial', 'Droid Sans', sans-serif;
  font-size: 1.5em;
  padding-bottom: 10px;
  color: white;
}

.content-box.left-box {
  margin: 30px 0 30px 30px;
}

.content-box h2 {
  padding: 35px 0 0 30px;
  margin-bottom: 5px;
}

.text-muted {
  color: #C3C3C3;
}

.calendar h1 {
  padding: 30px
}

.calendar ul {
  color: #000;
  list-style: none;
  padding: 0;
}

.calendar ul li {
  font-size: 1.1em;
  padding: 15px 30px;
  color: white;
}

.calendar ul li.active {
  background-color: #8AC48B
}

.dd .calendar ul li.active {
  background-color: #0073ae;
}

.stats-list {
  padding: 25px 10px 0;
}

.stats-list-row {
  margin-bottom: 15px;
}

.stats-progress-column {
  line-height: 40px;
}

.stats-progress-column .progress {
  margin-bottom: 0px;
  margin-top: 10px
}

.pts {
  padding-left: 10px;
}

.progress-bar-yellow {
  background-color: #FFEF81;
}

.statistics-container {
  font-family: 'Arial', 'Droid Sans', sans-serif;
}

.statistics-container h1 {
  color: #FFFFFF;
}

.profile-box {
    position: relative;
    display: inline-block;
}
.profile-box .crown {
    top: -22px;
    position: absolute;
    width: 25px;
    left: 12px;
}
.profile-box .profile-image {
  border-radius: 5px;
  width: 40px;
  margin: 0 5px;
}

.fc-title {
  font-family: Arial;
}

.stats-list .stats-list-row {
  display: block;
}
.stats-list .stats-list-row:nth-child(n+6) {
  display: none;
}

.show-list {
  overflow-y: scroll;
  max-height: 300px;
}

.show-list-button {
  text-align: right;
  line-height: 1;
  font-size: 16px;
  padding-right: 15px;
}

.show-list.stats-list .stats-list-row {
  display: block;
}

.color-white {
  color: #fff;
}

.member-link, .member-link:hover, .member-link:focus {
  color: #fff;
}

.note a.note-receiver-link {
  display: inline;
  font-size: inherit;
  text-align: left;
  position: static;
  width: auto;
}

.header-year {
  font-size: 50px;
}

/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(/asset/fonts/ubuntu_ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(/asset/fonts/ubuntu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
