body {
  background: #6A6879;
  overflow: hidden;
}

.snowman {
  position: fixed;
  z-index: 4;
  height: 300px;
  bottom: -49px;
  right: -5px;
}

.note {
  background: url('c.png');
  background-color: #4B83EE;
  height: 300px;
  width: 300px;
  margin-left: 30px;
  margin-top: 20px;
  position: relative;
  border-radius: 1px;
  box-shadow: -3px 3px 3px rgba(0,0,0,0.3);
  font-family: 'Patrick Hand', cursive;
  padding: 10px;
  padding-top: 30px;
  float: left;
}

.notes .note { transform: rotate(-0.5deg); }
.notes .note:nth-child(2n) { transform: none; }
.notes .note:nth-child(3n) { transform: rotate(-1.5deg); }
.notes .note:nth-child(5n)  { transform: rotate(2.1deg); }

.note:nth-of-type(n+1) {
  transform: rotate(5deg);
}

.note {
  transform: rotate(-3deg);
}

.note-orange {
  background-color: #DAA065;
}

.note-red {
  background-color: #DC4744;
}

.note-green {
  background-color: #8AC48B;
}

.note-pink {
  background-color: #D757C5;
}

.note-yellow {
  background-color: #CEC967;
}

.note p {
  color: black;
  font-size: 2em;
  overflow: hidden;
  max-height: 240px;
  margin: 0;
}

.note span {
  font-size: 1.5em;
  display: inline-block;
  width: 270px;
  text-align: right;
  position: absolute;
}

.pin {
  background: url('pin.png');
  height: 47px;
  width: 50px;
  position: absolute;
  margin-left: -25px;
  left: 50%;
  top: -10px;
  background-size: contain;
}

.pin-left {
  left: 1%;
}

.pin-right {
  left: 97%;
}

.sad {
  background-image: url('sad.png');
  width: 250px;
  background-size: contain;
  height: 250px;
  position: absolute;
  bottom: -42px;
  opacity: 0.3;
}

.calendar {
  background: url('c.png');
  background-color: #304152;
  margin: 30px 30px 30px 0;
  position: relative;
  border-radius: 1px;
  box-shadow: -3px 3px 3px rgba(0,0,0,0.3);
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.5em;
  padding-bottom: 30px;
  color: white;
}

.text-muted {
  color: #C3C3C3;
}

.calendar h1 {
  padding: 30px
}

.calendar ul {
  color: #000;
  list-style: none;
  padding: 0;
}

.calendar ul li {
  font-size: 1.1em;
  padding: 15px 30px;
  color: white;
}

.calendar ul li.active {
  background-color: #8AC48B
}
